<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="sidebar-logo" style="background-color: #1890FF; margin-right: -6px;">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <!-- <img src="../../../assets/image/2020219.png" alt="logo"> -->
          <h1 style="font-size: 24px;">无纸化管理系统</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="当前任务管理" nzIcon="read">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/mangent/load">当前任务test</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="历史任务管理" nzIcon="project">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/mangent/up">任务模板test</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="任务模板管理" nzIcon="bank">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/mangent/show">test任务模板</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="系统配置" nzIcon="usergroup-add">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/mangent/personal">人员管理</a>
            </li>
          </ul>
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/mangent/newdown']" [queryParams]="{aid:123}">角色管理</a>
            </li>
          </ul>
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/mangent/modal']">型号管理</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed" style="width:80%">
              <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span>
          
          <div class="fc-header-icon-wrap fc-header-dropdown" style="float: right;margin-right: 68px;">
            
            <a nz-dropdown [nzDropdownMenu]="headerMenu" [nzPlacement]="'bottomRight'" [nzOverlayStyle]="{top:'18px' }">
              <nz-avatar class="avatar" [nzSize]="32" nzIcon="user" [nzSrc]="avatar"></nz-avatar>
              <a class="text" style="color: #fff;margin-left:6px;font-size: 17px;">{{name}}</a>
            </a>
            <nz-dropdown-menu #headerMenu="nzDropdownMenu">
              <ul nz-menu>
                <!-- <li nz-menu-item> <i class="icon iconfont fc-header-icon fc-icon-peizhi"></i> 设置
                </li>
                <li nz-menu-item> <i class="icon iconfont fc-header-icon fc-icon-personnel"></i> 个人中心
                </li>
                <li nz-menu-item (click)="editPassWord()"> <i class="icon iconfont fc-header-icon fc-icon-password"></i>
                  修改密码
                </li>
                <li nz-menu-item (click)="clearCache()"> <i class="icon iconfont fc-header-icon fc-icon-clear"></i>
                  清除缓存
                </li> -->
                <li nz-menu-item [routerLink]='["/mangent/change"]'> <i class="icon iconfont fc-header-icon fc-icon-password"></i>
                  修改密码
                </li>
                <li nz-menu-item [routerLink]='["/login"]'> <i class=" icon iconfont fc-header-icon fc-icon-tuichu"></i> 退出登陆
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
        
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
